[user]
	name = Lukas Karlsson
	email = karlsson@altissimo.io
{{- if eq .chezmoi.hostname "lukwamsacstudio" }}
	signingkey = 80D9566828D8BC61
{{- else if eq .chezmoi.hostname "mac" }}
	signingkey = 19058B25E76925E2
{{- else if eq .chezmoi.hostname "karlsson" }}
	signingkey = 769340AFEFD5FC5A
{{- else if .signingkey }}
	signingkey = {{ .signingkey }}
{{- else }}
	signingkey = 769340AFEFD5FC5A
{{- end }}

[commit]
	gpgsign = true

[pull]
	rebase = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

#[url "ssh://git@github.com/"]
#	insteadOf = https://github.com/

[core]
	excludesFile = ~/.gitignore_global
# 	hooksPath = /home/karlsson/.git-hooks

[include]
        path = ~/.gitconfig.local
